body {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  height: calc(100vh - 100px);

  background-image: url("./img/1612166768_36-p-fon-krugi-fioletovie-49.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 70px;
}
.subtitle {
  color: white;
}
.cards_container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 150px;
}
.card {
  background-color: white;
  border-color: #2cb0cc;
  border-width: 3px;
  border-radius: 20px;
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  width: 200px;
}
.card__number {
  color: white;
  background-color: #2cb0cc;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-weight: 800;
}
.card__title {
  color: #2cb0cc;
  margin-top: 20px;
  font-size: 25px;
}
.card__text {
  color: #808080;
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}
.card__button {
  display: inline-block;
  border-color: #2cb0cc;

  border-width: 3px;
  border-radius: 20px;
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 8px 30px;
  text-decoration: none;
  color: #2cb0cc;
  font-weight: 800;
}

footer {
  color: #ffffff;
  background-color: #333333;
  padding: 15px;
}
.footer_text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
/* -theme-sheet-width-xl: 1140px;
    --theme-sheet-width-lg: 940px;
    --theme-sheet-width-md: 720px;
    --theme-sheet-width-sm: 540px;
    --theme-sheet-width-xs: 340px; */
/* 1199 */
/* 991 */
/* 767 */
/* 575 */
@media screen and (max-width: 575px) {
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    width: 160px;
  }
}

@media screen and (min-width: 1200px) {
}
